@import url(https://fonts.googleapis.com/earlyaccess/amiri.css);
.amiri{font-family: 'Amiri', serif;}
body{
    background-color: rgb(203, 224, 224);
    background-image:url(img/safwahLogo.jpg);
    background-repeat: repeat;
    background-attachment:fixed;
}
@media (min-width: 768px) {
    .display-4 {
      font-size: 3rem;
    }
  }